<% if @user.errors.any? %>
    <div id="error_explanation">
        <div class="alert alert-danger">
            入力しなければならない欄が<%= @user.errors.count %>個あります。
        </div>
        <ul>
        <% @user.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
        </ul>
    </div>
<% end %>