<% if params[:character_id].present? %>
    <h3><%= @character.character_name %></h3>
<% else %>
    <h3>ALL Character</h3>
<% end %>
<% if @combo.any? %>
    <%= render @combo %>
    <%= paginate @combo %>
<% end %>