<h4 class="comando-type1">特殊技</h4>
<label><input type="checkbox" class="comando-button" value="6C">6C</label>
<label><input type="checkbox" class="comando-button" value="3C">3C</label>
<label><input type="checkbox" class="comando-button" value="4C">4C</label>
<label><input type="checkbox" class="comando-button" value="2C">2C</label>
<h4 class="comando-type2">必殺技</h4>
<label><input type="checkbox" class="comando-button" value="236A">236A</label>
<label><input type="checkbox" class="comando-button" value="236B">236B</label>
<label><input type="checkbox" class="comando-button" value="236C">236C</label>
<label><input type="checkbox" class="comando-button" value="6A">6A</label>
<label><input type="checkbox" class="comando-button" value="6B">6B</label>
<label><input type="checkbox" class="comando-button" value="6C">6C</label>
<label><input type="checkbox" class="comando-button" value="623A">623A</label>
<label><input type="checkbox" class="comando-button" value="623B">623B</label>
<label><input type="checkbox" class="comando-button" value="623C">623C</label>
<label><input type="checkbox" class="comando-button" value="214A">214A</label>
<label><input type="checkbox" class="comando-button" value="214B">214B</label>
<label><input type="checkbox" class="comando-button" value="214C">214C</label>
<label><input type="checkbox" class="comando-button" value="22A">22A</label>
<label><input type="checkbox" class="comando-button" value="22B">22B</label>
<label><input type="checkbox" class="comando-button" value="22C">22C</label>
<label><input type="checkbox" class="comando-button" value="空中 236A">空中 236A</label>
<label><input type="checkbox" class="comando-button" value="空中 236B">空中 236B</label>
<label><input type="checkbox" class="comando-button" value="空中 236C">空中 236C</label>