<h4 class="comando-type1">特殊技</h4>
<label><input type="checkbox" class="comando-button" value="投げ + 7">投げ + 7</label>
<label><input type="checkbox" class="comando-button" value="投げ + 4">投げ + 4</label>
<label><input type="checkbox" class="comando-button" value="投げ + 1">投げ + 1</label>
<label><input type="checkbox" class="comando-button" value="3C">3C</label>
<label><input type="checkbox" class="comando-button" value="空中 2C">空中 2C</label>
<h4 class="comando-type2">必殺技</h4>
<label><input type="checkbox" class="comando-button" value="236A">236A</label>
<label><input type="checkbox" class="comando-button" value="236B">236B</label>
<label><input type="checkbox" class="comando-button" value="236C">236C</label>
<label><input type="checkbox" class="comando-button" value="6A or B or C">6A or B or C</label>
<label><input type="checkbox" class="comando-button" value="236B">236B</label>
<label><input type="checkbox" class="comando-button" value="623A">623A</label>
<label><input type="checkbox" class="comando-button" value="623B">623B</label>
<label><input type="checkbox" class="comando-button" value="623C">623C</label>
<label><input type="checkbox" class="comando-button" value="214A">214A</label>
<label><input type="checkbox" class="comando-button" value="214B">214B</label>
<label><input type="checkbox" class="comando-button" value="214C">214C</label>