<h4 class="comando-type1">特殊技</h4>
<label><input type="checkbox" class="prefix-filter" value="1A">1A</label>
<label><input type="checkbox" class="prefix-filter" value="4A">4A</label>
<label><input type="checkbox" class="prefix-filter" value="6C">6C</label>
<label><input type="checkbox" class="prefix-filter" value="3C">3C</label>
<label><input type="checkbox" class="prefix-filter" value="空中 6C">空中 6C</label>
<label><input type="checkbox" class="prefix-filter" value="空中 2C">空中 2C</label>

<h4 class="comando-type2">必殺技</h4>
<label><input type="checkbox" class="prefix-filter" value="236A">236A</label>
<label><input type="checkbox" class="prefix-filter" value="236B">236B</label>
<label><input type="checkbox" class="prefix-filter" value="236C">236C</label>
<label><input type="checkbox" class="prefix-filter" value="623A">623A</label>
<label><input type="checkbox" class="prefix-filter" value="623B">623B</label>
<label><input type="checkbox" class="prefix-filter" value="623C">623C</label>
<label><input type="checkbox" class="prefix-filter" value="1回転 A">1回転 A</label>
<label><input type="checkbox" class="prefix-filter" value="1回転 B">1回転 B</label>
<label><input type="checkbox" class="prefix-filter" value="1回転 C">1回転 C</label>
<label><input type="checkbox" class="prefix-filter" value="214A">214A</label>
<label><input type="checkbox" class="prefix-filter" value="214B">214B</label>
<label><input type="checkbox" class="prefix-filter" value="214C">214C</label>
<label><input type="checkbox" class="prefix-filter" value="4タメ6 + A">4タメ6 + A</label>
<label><input type="checkbox" class="prefix-filter" value="4タメ6 + B">4タメ6 + B</label>
<label><input type="checkbox" class="prefix-filter" value="4タメ6 + C">4タメ6 + C</label>