<h4 class="comando-type1">特殊技</h4>
<label><input type="checkbox" class="prefix-filter" value="B">B</label>
<label><input type="checkbox" class="prefix-filter" value="2B">2B</label>
<label><input type="checkbox" class="prefix-filter" value="2AB">2AB</label>
<label><input type="checkbox" class="prefix-filter" value="6A">6A</label>
<label><input type="checkbox" class="prefix-filter" value="6B">6B</label>
<label><input type="checkbox" class="prefix-filter" value="6C">6C</label>
<label><input type="checkbox" class="prefix-filter" value="8A">8A</label>
<label><input type="checkbox" class="prefix-filter" value="8B">8B</label>
<label><input type="checkbox" class="prefix-filter" value="8C">8C</label>
<label><input type="checkbox" class="prefix-filter" value="4A">4A</label>
<label><input type="checkbox" class="prefix-filter" value="4B">4B</label>
<label><input type="checkbox" class="prefix-filter" value="4C">4C</label>
<label><input type="checkbox" class="prefix-filter" value="2A">2A</label>
<label><input type="checkbox" class="prefix-filter" value="2B">2B</label>
<label><input type="checkbox" class="prefix-filter" value="2C">2C</label>
<label><input type="checkbox" class="prefix-filter" value="空中 AB">空中 AB</label>
<label><input type="checkbox" class="prefix-filter" value="B + C">B + C</label>
<label><input type="checkbox" class="prefix-filter" value="2B + C">2B + C</label>
<label><input type="checkbox" class="prefix-filter" value="空中 BC">空中 BC</label>
<h4 class="comando-type2">必殺技</h4>
<label><input type="checkbox" class="prefix-filter" value="4タメ6A">4タメ6A</label>
<label><input type="checkbox" class="prefix-filter" value="4タメ6B">4タメ6B</label>
<label><input type="checkbox" class="prefix-filter" value="4タメ6C">4タメ6C</label>
<label><input type="checkbox" class="prefix-filter" value="2タメ8A">2タメ8A</label>
<label><input type="checkbox" class="prefix-filter" value="2タメ8B">2タメ8B</label>
<label><input type="checkbox" class="prefix-filter" value="2タメ8C">2タメ8C</label>
<label><input type="checkbox" class="prefix-filter" value="6タメ4A">6タメ4A</label>
<label><input type="checkbox" class="prefix-filter" value="6タメ4B">6タメ4B</label>
<label><input type="checkbox" class="prefix-filter" value="6タメ4C">6タメ4C</label>
<label><input type="checkbox" class="prefix-filter" value="タメA">タメA</label>
<label><input type="checkbox" class="prefix-filter" value="タメB">タメB</label>
<label><input type="checkbox" class="prefix-filter" value="タメC">タメC</label>
<label><input type="checkbox" class="prefix-filter" value="空中 8タメ2A">空中 8タメ2A</label>
<label><input type="checkbox" class="prefix-filter" value="空中 8タメ2B">空中 8タメ2B</label>
<label><input type="checkbox" class="prefix-filter" value="空中 8タメ2C">空中 8タメ2C</label>
