<h4 class="comando-type1">特殊技</h4><br>
<label><input type="checkbox" class="prefix-filter" value="all"> 6B</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 3B</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 3C</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 空中 6C</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 空中 2C</label>
<h4 class="comando-type2">必殺技</h4><br>
<label><input type="checkbox" class="prefix-filter" value="all"> 236A</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 236B</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 236C</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 623A</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 623B</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 623C</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 214A</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 214B</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 214C</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 22A</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 22B</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 22C</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 空中 236A</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 空中 236B</label>
<label><input type="checkbox" class="prefix-filter" value="all"> 空中 236C</label>
