<label><input type="checkbox" class="prefix-filter" value="A">A</label>
<label><input type="checkbox" class="prefix-filter" value="B">B</label>
<label><input type="checkbox" class="prefix-filter" value="C">C</label>
<label><input type="checkbox" class="prefix-filter" value="JA">JA</label>
<label><input type="checkbox" class="prefix-filter" value="JB">JB</label>
<label><input type="checkbox" class="prefix-filter" value="JC">JC</label>
<label><input type="checkbox" class="prefix-filter" value="D">D</label>
<label><input type="checkbox" class="prefix-filter" value="B + C">B + C</label>
<label><input type="checkbox" class="prefix-filter" value="A + B + C + D">A + B + C + D</label>
<label><input type="checkbox" class="prefix-filter" value="投げ">投げ</label>
<label><input type="checkbox" class="prefix-filter" value="IFW">IFW</label>
<label><input type="checkbox" class="prefix-filter" value="IFWI">IFWI</label>