<label><input type="checkbox" class="prefix-filter" value="all">A</label>
<label><input type="checkbox" class="prefix-filter" value="all">B</label>
<label><input type="checkbox" class="prefix-filter" value="all">C</label>
<label><input type="checkbox" class="prefix-filter" value="all">JA</label>
<label><input type="checkbox" class="prefix-filter" value="all">JB</label>
<label><input type="checkbox" class="prefix-filter" value="all">JC</label>
<label><input type="checkbox" class="prefix-filter" value="all">D</label>
<label><input type="checkbox" class="prefix-filter" value="all">B + C</label>
<label><input type="checkbox" class="prefix-filter" value="all">A + B + C + D</label>
<label><input type="checkbox" class="prefix-filter" value="all">投げ</label>
<label><input type="checkbox" class="prefix-filter" value="all">IFW</label>
<label><input type="checkbox" class="prefix-filter" value="all">IFWI</label>