<div class="row">
    <div class="col-md-3">
        <div class="characters"></div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <div class="box"></div>
                <div class="card-title">Name</div>
                <%= link_to "マイページ", current_user, {class: "btn btn-primary"} %>
            </div>
        </div>
    </div>
</div>