<div class="row">
    <div class="col-12 col-lg-2">
        <nav class="navbar-collapse side-menu" id="side-menu">
            <%= render "combos/characters" %>
        </nav>
    </div>
    <div class="col-lg-7">
        <%= render "shared/feed" %>
    </div>
    <div class="col-lg-3">
        <div class="card user-card">
            <div class="card-body">
                <% if logged_in? %>
                    <div class="card-title"><%= current_user.name %></div>
                <% else %>
                    <div>ゲスト</div>
                <% end %>
                <%= link_to "マイページ", current_user, {class: "btn btn-primary"} %>
            </div>
        </div>
    </div>
</div>
