<div class="comando-type1">特殊技</div><br>
<button type="button" class="comando-button">1A</button>
<button type="button" class="comando-button">4B</button>
<button type="button" class="comando-button">6C</button>
<button type="button" class="comando-button">3C</button>
<button type="button" class="comando-button">空中 6C</button>
<button type="button" class="comando-button">空中 2C</button>
<div class="comando-type2">必殺技</div><br>
<button type="button" class="comando-button">236A</button>
<button type="button" class="comando-button">236B</button>
<button type="button" class="comando-button">236C</button>
<button type="button" class="comando-button">4A or B or C</button><br>
<button type="button" class="comando-button">623A</button>
<button type="button" class="comando-button">623B</button>
<button type="button" class="comando-button">623C</button>
<button type="button" class="comando-button">1回転 A</button>
<button type="button" class="comando-button">1回転 B</button>
<button type="button" class="comando-button">1回転 C</button><br>
<button type="button" class="comando-button">214A</button>
<button type="button" class="comando-button">214B</button>
<button type="button" class="comando-button">214C</button>
<button type="button" class="comando-button">4タメ6 + A</button>
<button type="button" class="comando-button">4タメ6 + B</button>
<button type="button" class="comando-button">4タメ6 + C</button>