<button type="button" class="comando-button">Button</button>
<button type="button" class="comando-button">Button2</button>
<button type="button" class="comando-button">Button</button>
<button type="button" class="comando-button">Button</button>
<button type="button" class="comando-button">Button</button>
<button type="button" class="comando-button">Button</button>
<button type="button" class="comando-button">Button</button>
<button type="button" class="comando-button">Button</button>
<button type="button" class="comando-button">Button</button>