<div class="comando-type1">特殊技</div><br>
<button type="button" class="comando-button">B</button>
<button type="button" class="comando-button">2B</button><br>
<button type="button" class="comando-button">2AB</button>
<button type="button" class="comando-button">6A</button>
<button type="button" class="comando-button">6B</button>
<button type="button" class="comando-button">6C</button>
<button type="button" class="comando-button">8A</button>
<button type="button" class="comando-button">8B</button>
<button type="button" class="comando-button">8C</button>
<button type="button" class="comando-button">4A</button>
<button type="button" class="comando-button">4B</button>
<button type="button" class="comando-button">4C</button>
<button type="button" class="comando-button">2A</button>
<button type="button" class="comando-button">2B</button>
<button type="button" class="comando-button">2C</button><br>
<button type="button" class="comando-button">空中 AB</button>
<button type="button" class="comando-button">B + C</button>
<button type="button" class="comando-button">2B + C</button>
<button type="button" class="comando-button">空中 BC</button><br>
<div class="comando-type2">必殺技</div><br>
<button type="button" class="comando-button">4タメ6A</button>
<button type="button" class="comando-button">4タメ6B</button>
<button type="button" class="comando-button">4タメ6C</button><br>
<button type="button" class="comando-button">2タメ8A</button>
<button type="button" class="comando-button">2タメ8B</button>
<button type="button" class="comando-button">2タメ8C</button><br>
<button type="button" class="comando-button">6タメ4A</button>
<button type="button" class="comando-button">6タメ4B</button>
<button type="button" class="comando-button">6タメ4C</button><br>
<button type="button" class="comando-button">タメA</button>
<button type="button" class="comando-button">タメB</button>
<button type="button" class="comando-button">タメC</button><br>
<button type="button" class="comando-button">空中 8タメ2A</button>
<button type="button" class="comando-button">空中 8タメ2B</button>
<button type="button" class="comando-button">空中 8タメ2C</button>