<button type="button" class="comando-button">A</button>
<button type="button" class="comando-button">B</button>
<button type="button" class="comando-button">C</button>
<button type="button" class="comando-button">D</button>
<button type="button" class="comando-button">B + C</button>
<button type="button" class="comando-button">A + B + C + D</button>
<button type="button" class="comando-button">アサルト</button>
<button type="button" class="comando-button">dl</button>
<button type="button" class="comando-button">jc</button>
<button type="button" class="comando-button">投げ</button>
<button type="button" class="comando-button">CS(チェインシフト)</button>
<button type="button" class="comando-button">IFW(インフィニットワース)</button>
<button type="button" class="comando-button">IFWI(インフィニットワースイグジスト)</button>