<button type="button" class="comando-button">A</button>
<button type="button" class="comando-button">B</button>
<button type="button" class="comando-button">C</button>
<button type="button" class="comando-button">D</button>
<button type="button" class="comando-button">IFW</button>
<button type="button" class="comando-button">IFWI</button>
<button type="button" class="comando-button">アサルト</button>
<button type="button" class="comando-button">CS</button>
<button type="button" class="comando-button">B + C</button>
<button type="button" class="comando-button">dl</button>
<button type="button" class="comando-button">jc</button>
<button type="button" class="comando-button"></button>