@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
}


.col-md-3 {
    height: 800px;
}
.col-md-2 {
    height: 800px;
}

.col-md-6 {
    border: solid;
    height: 800px;
}

/* header */

header{
    height: 60px;
    
    #logo {
        float: left;
        margin-right: 10px;
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-top: 9px;
        font-weight: bold;
    }
    
    #logo:hover {
        color: #fff;
        text-decoration: none;
    }
}

/* Dropdown menu */

.dropdown-menu.active {
    display: block;
}

/* footer */

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a {
    color: #555;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

@media (max-width: 800px) {
    footer {
        small {
            display: block;
            float: none;
            margin-bottom: 1em;
        }
        ul {
            float: none;
            padding: 0;
            li {
            float: none;
            margin-left: 0;
            }
        }
    }
}

/* トップページ */

.characters {
    background-color: #777;
    margin-top: 40px;
    margin-left: 200px;
    height: 700px;
    width: 250px;
}

.card {
    margin-top: 100px;
    padding: 20px;
    height: 200px;
    width: 350px;
    background-color: #fff;
    border-radius: 6px;

    .box {
        float: left;
        background-color: #222;
        width: 65px;
        height: 65px;
    }

    .card-title {
        font-size: 27px;
        margin-left: 20px;
    }

    .btn {
        margin-left: 10px;
    }
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.login-form {
    .signup-btn{
        width: 100%;
        margin-top: 30px;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

/* microposts */

.microposts {
    list-style: none;
    padding: 0;
    li {
      padding: 10px 0;
      border-top: 1px solid #e8e8e8;
    }
    .user {
      margin-top: 5em;
      padding-top: 0;
    }
    .content {
      display: block;
      margin-left: 60px;
      img {
        display: block;
        padding: 5px 0;
      }
    }
    .timestamp {
      color: $gray-light;
      display: block;
      margin-left: 60px;
    }
    .gravatar {
      float: left;
      margin-right: 10px;
      margin-top: 5px;
    }
  }
  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  
  span.image {
    margin-top: 10px;
    input {
      border: 0;
    }
  }

  .checkbox-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  
  .checkbox-columns label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -10px;
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }
  