@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding-top: 100px;
    background-color: #f5f5f5;
}

h1 {
    text-align: center;
}

.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
}

/* header */

header{
    height: 60px;
    
    #logo {
        float: left;
        margin-right: 10px;
        font-size: 1.7em;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: -1px;
        padding-top: 9px;
        font-weight: bold;
    }
    
    #logo:hover {
        color: #fff;
        text-decoration: none;
    }
}

/* Dropdown menu */

.dropdown-menu.active {
    display: block;
}


/* トップページ */

.characters {
    margin-top: -20px;
    margin-left: 50px;
    height: 700px;
    width: 250px;
    list-style: none;
    position: sticky;
    li {
      text-decoration: none;
      text-align: center;
      padding: 9px 0;
      background-color: #bbb;
      border: solid 1px #222;
      color: #222;
    }
    li:hover {
      background-color: #e8e8e8;
    }
}

.card {
    margin-top: 100px;
    padding: 20px;
    height: 200px;
    width: 350px;
    background-color: #fff;
    border-radius: 6px;

    .box {
        float: left;
        background-color: #222;
        width: 65px;
        height: 65px;
    }

    .card-title {
        font-size: 27px;
        margin-left: 20px;
    }

    .btn {
        margin-left: 10px;
    }
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}

input {
    height: auto !important;
}

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.login-form {
    .signup-btn{
        width: 100%;
        margin-top: 30px;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

/* microposts */

.microposts {
    list-style: none;
    margin: 5px 0;
    padding: 0;
    width: 100%;
    li {
      padding: 10px 0;
      border: 1px solid #e8e8e8;
      border-radius: 10px;
      background-color: #fff;
    }
    .post-head {
      display: flex;
      
    }
    .situation {
      display: inline-block;
      margin-left: 800px;
      background-color: orange;
      border-radius: 10px;
      width: 34px;
      text-align: center;
    }
    .hit_count {
      margin-left: 60px;
      display: inline-block;
      font-size: 15px;
      color: #222;
      text-align: center;
      background-color: aqua;
      border-radius: 10px;
      width: 34px;
    }
    .damage {
      margin-left: 60px;
      display: inline-block;
      font-size: 15px;
      color: #222;
      background-color: aqua;
      border-radius: 10px;
      width: 34px;
      text-align: center;
    }
    .title {
      display: block;
      font-size: 17px;
      font-weight: bold;
      color: #222;
      padding-left: 12px;
    }
    .comando {
      margin-top: 10px;
      margin-left: 30px;
      display: block;
      font-size: 22px;
      color: #222;
    }
    .user-link {
      margin-top: 5em;
      padding-left: 900px;
      text-align: right;
    }
  }


  
  aside {
    textarea {
      height: 100px;
      margin-bottom: 5px;
    }
  }
  

  .checkbox-columns {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
  }
  
  .checkbox-columns label {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: -10px;
    width: 50%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  }


aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/*show micropost*/

.show-micropost {
  .title {
  
  }
  .comando {
    background-color: #fff;
  }
  .video {
    margin-top: 10px;
    float: left;
  }
  .description {
    margin-top: 10px;
    font-size: 17px;
  }
}

/* post form */

.input-comando{
  margin-top: 10px;
  margin-left: 10px;
  width: 100%;
  height: 200px;
  border: 1px solid #bbb;
  border-radius: 6px;
  padding: 10px;
  font-size: 17px;
  line-height: 1.5;
}

.btn-field {
}